*, h1, h2, h3, h4, h5, h6, p, ul {
    margin:unset;
    padding:unset;
    font-family:"Nunito";
}

ul {
    list-style-type:none;
}

.wt_center {
	/**Start of vertical/horizontal centering**/
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	/**End of vertical/horizontal centering**/
	text-align:center;
	width:100%;
	letter-spacing:0.1em;
}

.banner {
    height:100vh;
    background-image:url("../images/cafesm.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:white;
}

.banner_menu {
    background-image:url("../images/menusm.jpg");
}

.banner h1 {
    line-height:15px;
}

.down_arrow {
    height:20px;
    margin-top:20px;
}

.seb {
    font-size:.3em;
}

.m_menu {
    position:fixed;
    top:10px;
    right:10px;
    color:white;
}

.who_are_we {
    width:80%;
    margin-left:10%;
    padding-top:60px;
    padding-bottom:60px;
    text-align:center;
}

.sec_spacing {
    width:100%;
    text-align:center;
    margin-top:40px;
}

.h_our_menu {
    padding-bottom:60px;
    text-align:center;
}

.menu_bar {
    height:100px;
    width:100%;
    background-color:blue;
    margin-top:10px;
    margin-bottom:10px;
}

.h_our_location {
    text-align:center;
}

.location_bar {
    width:100%;
    padding-top:100%;
    background-color:blue;
    margin-top:10px;
    margin-bottom:10px;
    position:relative;
    color:white;
    background-size:cover;
    background-repeat:no-repeat;
}

.location_bar_0 {
    background-image:url("../images/nycsm.jpg");
}

.location_bar_1 {
    background-image:url("../images/phillysm.jpg");
}

.sec_label {
    font-weight:bold;
    text-align:center;
}

.hsq_menu {
    width:100%;
    padding-top:45%;
    display:block;
    color:white;
    position:relative;
}

.hsq_h1 {
    font-size:2em;
}

.waw_text {
    font-size:.85em;
    line-height:2em;
    width:100%;
}

.waw_text2 {
    font-size:.85em;
    line-height:1.5em;
    width:100%;
}

.waw_text_space {
    margin-top:20px;
}

.sec_desc {
    width:100%;
}

.menu_section {
    text-align:center;
    padding-bottom:60px;
}

.menu_item {
    font-weight:bold;
}

.menu_item_cont {
    margin:20px 0;
}

.read_more {
    font-weight:bold;
    margin-top:30px;
}

.line_seperate {
    height:2px;
    background-color:gray;
    width:80%;
    margin:20px 0 20px 10%;
    border-radius:25%;
}

.hsq_0 {background-image:url("../images/menusm.jpg");background-size:cover;background-repeat:no-repeat;}
.hsq_1 {background-image:url("../images/nycsm.jpg");background-size:cover;background-repeat:no-repeat;}
.hsq_2 {background-image:url("../images/storefrontsm.jpg");background-size:cover;background-repeat:no-repeat;}

/**LOCATION**/
.loc_square {
    width:100%;
    padding-top:40%;
    position:relative;
    width:80%;
    margin:25px 10%;
}

.loc_square {
    background-size:cover;
    background-repeat:no-repeat;
}

.ls_0 {background-image:url("../images/nycfd.jpg");}
.ls_1 {background-image:url("../images/nycph.jpg");}
.ls_2 {background-image:url("../images/nycps.jpg");}
.ls_3 {background-image:url("../images/nycgp.jpg");}
.ls_4 {background-image:url("../images/nycch.jpg");}
.ls_5 {background-image:url("../images/philfd.jpg");}

/**HOMEPAGE CONTACT**/
.h_contact {
    width:80%;
    margin-left:10%;
}

input, label, textarea {
    display:block;
    width:100%;
}

footer {
    text-align:center;
    background-color:#131313;
    color:white;
    padding-top:50px;
}

.flag_size {
    width:35%;
}

.mailing_form {
    margin-top:15px;
    font-size:.7em;
    letter-spacing:.25em;
}

.form_input_online {
    width:80%;
    margin:5px 0 10px 10%;
}

.sub_button {
    color:black;
    border:1px solid white;
    background-color:black;
    color:white;
    width:30%;
    margin-left:35%;
}

.footer_menu {
    padding:20px 0;
    font-size:.9em;
    letter-spacing:.2em;
}

.footer_name {
    margin-top:15px;
}

.fm_list {
    font-size:.8em;
    margin:15px 0;
}

.copyright {
    font-size:.7em;
    padding-bottom:35px;
}


.hidden {
    display:none;
}

.white_overlay {
    background-color:white;
    height:100vh;
    width:100%;
    position:fixed;
    z-index:10;
}

.to_top {
    height:35px;
    width:35px;
    background-color:white;
    box-shadow:0 0 1px #ddd;
    position:fixed;
    bottom:15px;
    right:15px;
    z-index:5;
}

.locations_banner {
    background-image:url("../images/nycsm.jpg");
}

#mobile_nav {
    position:fixed;
    top:10px;
    right:10px;
    z-index:30;
}

.hamburger_inner {
    background-color:white !important;
}

.mobile_nav_list {
    background-color:rgba(255,255,255);
    width:100%;
    height:100vh;
    position:fixed;
    z-index:20;
}

.m_nav_ul {
    height:100%;
    width:100%;
}

.owner_pic {
    width:100%;
    padding-top:100%;
    margin:20px 0 0 0;
    background-image:url("../images/per.png");
    background-size:cover;
    background-repeat:no-repeat;
}

.owner_caption {
    font-weight:bold;
    font-size:1.1em;
}

.bolder {
    font-weight:bold;
}